.hero-heading-wrapper {
  opacity: 0;
  transform: translateY(40px) scale(0.95);
  animation: fadeUpScale 1.4s ease-out forwards;
  animation-delay: 0.4s;
}

.hero-heading {
  display: inline-block;
  animation: luxuryFloat 6s ease-in-out infinite;
  animation-delay: 2s;
}

@keyframes fadeUpScale {
  to {
    opacity: 1;
    transform: translateY(0) scale(1);
  }
}

@keyframes luxuryFloat {
  0% {
    transform: translateY(0) scale(1);
  }
  50% {
    transform: translateY(-6px) scale(1.03);
  }
  100% {
    transform: translateY(0) scale(1);
  }
}

.hero-zoom {
  animation: zoomSlow 22s ease-in-out infinite alternate;
}

@keyframes zoomSlow {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.1);
  }
}

.hero-heading::after {
  content: "";
  position: absolute;
  height: 100%;
  background: linear-gradient(120deg, transparent, rgba(255,255,255,0.2), transparent);
  animation: shine 4s infinite;
}

.hero-overlay {
  animation: vignette 6s ease-in-out infinite;
}


.star-layer {
  position: absolute;
  inset: 0;
  overflow: hidden;
  z-index: 2;
}

.star {
  position: absolute;
  bottom: -10px;
  background: white;
  border-radius: 50%;
  opacity: 0;
  animation-name: starLife;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

@keyframes starLife {
  0% {
    transform: translateY(0) scale(0.4);
    opacity: 0;
  }

  10% {
    opacity: 1;
  }

  50% {
    opacity: 0.9;
    transform: translateY(-50vh) scale(1);
  }

  100% {
    transform: translateY(-110vh) scale(0.2);
    opacity: 0;
  }
}
